# Q.1(a)

Using global keyword inside the function

In [ ]:
x=10
def mod_var_with_global():
  global x
  x=20
  y=20
  print(f"Inside function: x = {x}, y = {y}")

print(f"Outside function before calling: x = {x}")
mod_var_with_global()
print(f"Outside function after calling: x = {x}")

Outside function before calling: x = 10
Inside function: x = 20, y = 20
Outside function after calling: x = 20

Without using global keyword inside the function

In [ ]:
x=10
def mod_var_with_global():
  x=20
  y=20
  print(f"Inside function: x = {x}, y = {y}")

print(f"Outside function before calling: x = {x}")
mod_var_with_global()
print(f"Outside function after calling: x = {x}")

Outside function before calling: x = 10
Inside function: x = 20, y = 20
Outside function after calling: x = 10

# Q.1(b)

Inner and outer function

In [ ]:
def outer_function():
  x = 5

  def inner_function():
      print(f"Value of local x in inner function: {x}")

  inner_function()

  print(f"Value of local x in outer function: {x}")

outer_function()

Value of local x in inner function: 5
Value of local x in outer function: 5

# Q.1(c)

Modify string

In [ ]:
def modify_string(text, char):
    modified_text = text.replace(char, '*')
    return modified_text

text_input = "character"
char_input = "char"

modified_result = modify_string(text_input, char_input)
print("Modified string:", modified_result)

Modified string: *acter

# Q.1(d)

In [ ]:
from math import log
from functools import reduce

lst = list(range(1, 101))

lambda_b = lambda x: log(x) + 1
lst_b = list(map(lambda_b, lst))
print("List after lambda function b:", lst_b)

lambda_c = lambda x: x % 5 == 0
filtered_lst = list(filter(lambda_c, lst))
print("List after filtering:", filtered_lst)

lambda_d = lambda x, y: x + y
sum_result = reduce(lambda_d, lst)
print("Sum of all elements in the list:", sum_result)

List after lambda function b: [1.0, 1.6931471805599454, 2.09861228866811, 2.386294361119891, 2.6094379124341005, 2.791759469228055, 2.9459101490553135, 3.0794415416798357, 3.1972245773362196, 3.302585092994046, 3.3978952727983707, 3.4849066497880004, 3.5649493574615367, 3.6390573296152584, 3.70805020110221, 3.772588722239781, 3.833213344056216, 3.8903717578961645, 3.9444389791664403, 3.995732273553991, 4.044522437723423, 4.091042453358316, 4.13549421592915, 4.178053830347945, 4.218875824868201, 4.258096538021482, 4.295836866004329, 4.332204510175204, 4.367295829986475, 4.401197381662156, 4.433987204485146, 4.465735902799727, 4.49650756146648, 4.526360524616162, 4.555348061489413, 4.58351893845611, 4.610917912644224, 4.637586159726386, 4.663561646129646, 4.688879454113936, 4.713572066704308, 4.737669618283368, 4.761200115693562, 4.7841896339182615, 4.80666248977032, 4.828641396489095, 4.850147601710058, 4.871201010907891, 4.891820298110627, 4.912023005428146, 4.931825632724326, 4.951243718581427, 4.970291913552122, 4.9889840465642745, 5.007333185232471, 5.02535169073515, 5.04305126783455, 5.060443010546419, 5.07753744390572, 5.0943445622221, 5.110873864173311, 5.127134385045092, 5.143134726391533, 5.1588830833596715, 5.174387269895637, 5.189654742026425, 5.204692619390966, 5.219507705176107, 5.23410650459726, 5.248495242049359, 5.2626798770413155, 5.276666119016055, 5.290459441148391, 5.30406509320417, 5.31748811353631, 5.330733340286331, 5.343805421853684, 5.356708826689592, 5.3694478524670215, 5.382026634673881, 5.394449154672439, 5.406719247264253, 5.418840607796598, 5.430816798843313, 5.442651256490317, 5.454347296253507, 5.465908118654584, 5.477336814478207, 5.48863636973214, 5.499809670330265, 5.51085950651685, 5.5217885770490405, 5.532599493153256, 5.543294782270004, 5.553876891600541, 5.564348191467836, 5.574710978503383, 5.584967478670572, 5.59511985013459, 5.605170185988092]
List after filtering: [5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100]
Sum of all elements in the list: 5050

# Q.1(e)

## Method-1

In [10]:

def calculate_score(player_name, *attempts):
    max_attempts = 10
    total_attempts = len(attempts)

    if total_attempts > max_attempts:
        raise ValueError(f"{player_name} exceeded the maximum number of attempts.")

    success_attempts=attempts.count(1)
    num_free_throws = attempts.count(2)
    score = success_attempts * points_per_attempt + num_free_throws * free_throw_points
    return score
points_per_attempt=2
free_throw_points=3
# Player A
team_a_score = calculate_score("Player A",1, 0, 1, 1, 0, 2, 1, 0, 1, 0)

# Player B
team_b_score = calculate_score("Player B",0, 1, 0, 1, 2, 1, 0, 0)

print("Team A Score:", team_a_score)
print("Team B Score:", team_b_score)

if team_a_score > team_b_score:
    print("Team A Won")
    print("Team B: Better Luck next time")
elif team_b_score > team_a_score:
    print("Team B won!")
    print("Team A: Better Luck next time")
else:
    print("Tie")

Team A Score: 13
Team B Score: 9
Team A Won
Team B: Better Luck next time

Since the question is unclear, we are assuming certain things.
1. Both the teams have combined 10 attempts.
2. We are sure that A got 5 attempts and B got 3 attempts (we don't know which attempt is 3 pointer which is 2 pointer)
3. For the remaining 2 attempts either A can take them or B or both

## Method:2

In [ ]:
def compute_scores(*args):
    points_teamA = args[0]*2 + args[2] * 3
    points_teamB = args[1]*2 + args[3] * 3

    print("Team A :", points_teamA)
    print("Team B :", points_teamB)

    if points_teamA > points_teamB:
        print("Team A Won")
        print("Team B: Better Luck next time")
    elif points_teamA < points_teamB:
        print("Team B won!")
        print("Team A: Better Luck next time")
    else:
        print("Tie")
lst=[]
while True:
  while True:
    a = int(input("Enter the no. of 2 point for A (success): "))
    c = int(input("Enter the no. of 3 point for A (success): "))
    if 5<=a+c<=7:
        break
    else:
        print("Attempts of A are minimum 5 and maximum 7")
  lst.append(a)
  lst.append(c)
  while True:
    b = int(input("Enter the no. of 2 point for B (success): "))
    d = int(input("Enter the no. of 3 point for B (success): "))
    if 3<=b+d<=5:
        break
    else:
        print("Attempts of B are minimum 3 and maximum 5")
  lst.append(b)
  lst.append(d)
  if a+b+c+d==10:
    break
  else:
    print("Total attempts are 10")
arg_values = lst
arg_values = [int(value) for value in arg_values]
compute_scores(*arg_values)

Enter the no. of 2 point for A (success): 2
Enter the no. of 3 point for A (success): 3
Enter the no. of 2 point for B (success): 3
Enter the no. of 3 point for B (success): 2
Team A : 13
Team B : 10
Team A Won

# Q.2(a)

In [ ]:
class Car():
  def __init__(self,make,model,year):
    self.make=make
    self.model=model
    self.year=year

  def info_display(self):
    print(f"Car Information:\nMake: {self.make}\nModel: {self.model}\nYear: {self.year}")

car1 = Car("Audi", "R8", 2023)
car1.info_display()

Car Information:
Make: Audi
Model: R8
Year: 2023

# Q.2(b)

In [ ]:
class Car():
  def __init__(self,make,model,year):
    self.make=make
    self.model=model
    self.year=year

  def info_display(self):
    print(f"Car Information:\nMake: {self.make}\nModel: {self.model}\nYear: {self.year}")

class ElectricCar(Car):
  def __init__(self, make, model, year, battery_capacity):
        super().__init__(make, model, year)
        self.battery_capacity = battery_capacity

  def display_battery_info(self):
        print(f"\nBattery Capacity: {self.battery_capacity} kWh")

car1 = ElectricCar("Audi", "R8", 2023,50)
car1.info_display()
car1.display_battery_info()

Car Information:
Make: Audi
Model: R8
Year: 2023
Battery Information:
Battery Capacity: 50 kWh

# Q.2(c)

In [ ]:
class Car():
  def __init__(self,make,model,year):
    self.make=make
    self.model=model
    self.year=year

  def info_display(self):
    print(f"Car Information:\nMake: {self.make}\nModel: {self.model}\nYear: {self.year}")

class ElectricCar(Car):
  def __init__(self, make, model, year, battery_capacity):
        super().__init__(make, model, year)
        self.battery_capacity = battery_capacity

  def display_battery_info(self):
        print(f"Battery Capacity: {self.battery_capacity} kWh")

def display_car_list(car_list):
    for car in car_list:
        car.info_display()
        if isinstance(car, ElectricCar):
            car.display_battery_info()
        print()

car_instances = []


num_cars = int(input("Enter the number of cars: "))
for _ in range(num_cars):
    car_type = input("Enter car type (regular/electric): ").lower()
    if car_type == "regular":
        company = input("Enter the car company: ")
        model = input("Enter the model: ")
        year = input("Enter the year: ")
        car = Car(company, model, year)
    elif car_type == "electric":
        company = input("Enter the electric car company: ")
        model = input("Enter the model: ")
        year = input("Enter the year: ")
        capacity = float(input("Enter the battery capacity (in kWh): "))
        car = ElectricCar(company, model, year, capacity)
    else:
        print("Invalid car type. Please enter 'regular' or 'electric'.")
        continue
    car_instances.append(car)


display_car_list(car_instances)

Enter the number of cars: 2
Enter car type (regular/electric): Regular
Enter the car company: Audi
Enter the model: R8
Enter the year: 1
Enter car type (regular/electric): Electric
Enter the electric car company: Mercedez
Enter the model: D
Enter the year: 2
Enter the battery capacity (in kWh): 3
Car Information:
Make: Audi
Model: R8
Year: 1

Car Information:
Make: Mercedez
Model: D
Year: 2
Battery Capacity: 3.0 kWh

#Q.2(d)

In [ ]:
class Person():
    def __init__(self, name, age):
        self.name = name
        self.age = age

class Student(Person):
    def __init__(self, name, age, stu_id):
        Person.__init__(self, name, age)
        self.stu_id = stu_id

class Employee(Person):
    def __init__(self, name, age, emp_id):
        Person.__init__(self, name, age)
        self.emp_id = emp_id

class Resident(Student, Employee):
    def __init__(self, name, age, stu_id, emp_id, address):
        Student.__init__(self, name, age, stu_id)
        Employee.__init__(self, name, age, emp_id)
        self.address = address

resident1 = Resident("Sugandh", 20, "123", "987", "VC")

print("Name:", resident1.name)
print("Age:", resident1.age)
print("Student ID:", resident1.stu_id)
print("Employee ID:", resident1.emp_id)
print("Address:", resident1.address)

Name: Sugandh
Age: 20
Student ID: 123
Employee ID: 987
Address: VC

# Q.2(e)

In [ ]:
class BankAccount():
  def __init__(self,account_number,balance,account_holder):
    self.account_number=account_number
    self.balance=balance
    self.account_holder=account_holder
    self.daily_withdrawal_limit = 1000

  def deposit(self,amount_deposited):
    self.balance+=amount_deposited
    print(f"Deposited Rs{amount_deposited}. New balance: Rs.{self.balance}")


  def withdraw(self,amount_withdrawn):
    if(amount_withdrawn<self.daily_withdrawal_limit):
      self.balance=self.balance-amount_withdrawn
      self.daily_withdrawal_limit -= amount_withdrawn
      print(f"Withdrawn Rs{amount_withdrawn}. New balance: Rs.{self.balance}")
    else:
      print("Amount exceeded than daily withdrawal limit")

  def set_daily_withdrawal_limit(self, limit):
        self.daily_withdrawal_limit = limit
        print(f"Daily withdrawal limit set to Rs.{limit}")


  def info_display(self):
    print(f"Account Information:\nAccount Number: {self.account_number}\nBalance: Rs.{self.balance}\nAccount Holder: {self.account_holder}")

account1 = BankAccount("98765", 10000, "Sugandh")

account1.deposit(1000)
account1.withdraw(250)


account1.info_display()

Deposited Rs1000. New balance: Rs.11000
Withdrawn Rs250. New balance: Rs.10750
Account Information:
Account Number: 98765
Balance: Rs.10750
Account Holder: Sugandh

# Q.2(f)

In [ ]:
import math

class Shape:
    def area(self):
        pass

class Circle(Shape):
    def __init__(self, radius):
        self.radius = radius

    def area(self):
        return math.pi * self.radius ** 2

class Rectangle(Shape):
    def __init__(self, length, width):
        self.length = length
        self.width = width

    def area(self):
        return self.length * self.width

class Triangle(Shape):
    def __init__(self, base, height):
        self.base = base
        self.height = height

    def area(self):
        return 0.5 * self.base * self.height


circle = Circle(10)
rectangle = Rectangle(6, 3)
triangle = Triangle(10, 12)


print("Area of Circle:", circle.area())
print("Area of Rectangle:", rectangle.area())
print("Area of Triangle:", triangle.area())

Area of Circle: 314.1592653589793
Area of Rectangle: 18
Area of Triangle: 60.0